html, body {
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
}

#index-container {
    border: 1px solid black;    

    text-align: center;

    height: 150px;
    width: 300px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

#error {
    color: red;
    padding-top: 5px;
}